{% extends "layout.html" %}

{% block title %}
    login
{% endblock %}

{% block main %}
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="688592269704-bgemelu41ih8rfefeao7fco94tvsgvu2.apps.googleusercontent.com">
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <script>
    function onSignIn(googleUser) {
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', 'https://yourbackend.example.com/tokensignin');
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function() {
        console.log('Signed in as: ' + xhr.responseText);
      };
    }
    xhr.send('idtoken=' + id_token);
  </script>
{% endblock %}
